img{
    padding-top: 10%;
}
h2{
    font-family: 'Comic Sans MS', Comic, serif;
}
body{
    background-color: white;
}
ul{
    display: inline-block;
    text-align: left;
}
.crazyMonkey{
    font-family: Papyrus,fantasy;
    font-color: black;
    text-align: center;

}
.firstHeader{
    margin-left: 20px;
    margin-top: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
    background-color: magenta;
}
.bordered{
    border-style: dotted dashed solid double;
}
.bottomBorder{
    border-bottom-style: solid;
    border-width: thick;
}